#custom-cursor_usage {
  padding: 0 6px;
}

#custom-cursor_usage.cursor-usage-low {
  color: #ffffff;
}

#custom-cursor_usage.cursor-usage-mid {
  color: #ffffff;
}

#custom-cursor_usage.cursor-usage-high {
  color: #ffffff;
}

#custom-cursor_usage.cursor-usage-usagebased {
  color: #ffffff;
}

#custom-cursor_usage.cursor-usage-err {
  color: #ffffff;
}
